CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin/*
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cgl_seq/cgl_seq
cgl_mpi/cgl_mpi
cgl_seq/cgl_shm
cgl_seq/cgl_seq_dbg
cgl_mpi/cgl_mpi_dbg
cgl_seq/cgl_shm_dbg
cgl_seq/seq
cgl_mpi/mpi
cgl_seq/shm
cgl_seq/seq_dbg
cgl_mpi/mpi_dbg
cgl_seq/shm_dbg
*.valg
